extends default.pug

block extra
    if download
        h2 Download
        p Are you stuck? Take a look at
            = ' '
            a(href=relative(download), download) the source code
            = ' '
            | for this step.
